<a href="https://colab.research.google.com/github/PriankaKibria17/Priankas_Coding/blob/main/PRACTICE_Renaming%2C_deleting_%26_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Renaming, deleting, & missing data (Practice)

Prianka Kibria

3/2/22

In [44]:
# mounting data
from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
# importing library
import pandas as pd

In [52]:
# loading data sheet
filename = '/content/drive/MyDrive/data/RailsToTrails_National CountData_week.xlsx'
bike_df = pd.read_excel(filename)
bike_df

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
1     Week 2 2020-01-06  ...         NaN         NaN
2     Week 3 2020-01-13  ...         NaN         NaN
3     Week 4 2020-01-20  ...         NaN         NaN
4     Week 5 2020-01-27  ...         NaN         NaN
5     Week 6 2020-02-03  ...         NaN         NaN
6     Week 7 2020-02-10  ...         NaN         NaN
7     Week 8 2020-02-17  ...         NaN         NaN
8     Week 9 2020-02-24  ...         NaN         NaN
9    Week 10 2020-03-02  ...         NaN         NaN
10   Week 11 2020-03-09  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN
15   Week 16 2020-04-13  ...         NaN         NaN
16   Week 17 2020-04-20  ...         NaN         NaN
17   Week 18 2020-04-27  ...         NaN         NaN
18   Week 19 2020-05-04  ...         NaN         NaN
19   Week 20 2020-05-11  ...         NaN         NaN
20   Week 21 2020-05-18  ...         NaN         NaN
21   Week 22 2020-05-25  ...         NaN         NaN
22   Week 23 2020-06-01  ...         NaN         NaN
23   Week 24 2020-06-08  ...         NaN         NaN
24   Week 25 2020-06-15  ...         NaN         NaN
25   Week 26 2020-06-22  ...         NaN         NaN
26   Week 27 2020-06-29  ...         NaN         NaN
27   Week 28 2020-07-06  ...         NaN         NaN
28   Week 29 2020-07-13  ...         NaN         NaN
29   Week 30 2020-07-20  ...         NaN         NaN
30   Week 31 2020-07-27  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN
35   Week 36 2020-08-31  ...         NaN         NaN
36   Week 37 2020-09-07  ...         NaN         NaN
37   Week 38 2020-09-14  ...         NaN         NaN
38   Week 39 2020-09-21  ...         NaN         NaN
39   Week 40 2020-09-28  ...         NaN         NaN
40   Week 41 2020-10-05  ...         NaN         NaN
41   Week 42 2020-10-12  ...         NaN         NaN
42   Week 43 2020-10-19  ...         NaN         NaN
43   Week 44 2020-10-26  ...         NaN         NaN
44   Week 45 2020-11-02  ...         NaN         NaN
45   Week 46 2020-11-09  ...         NaN         NaN
46   Week 47 2020-11-16  ...         NaN         NaN
47   Week 48 2020-11-23  ...         NaN         NaN
48   Week 49 2020-11-30  ...         NaN         NaN
49   Week 50 2020-12-07  ...         NaN         NaN
50   Week 51 2020-12-14  ...         NaN         NaN
51   Week 52 2020-12-21  ...   26.728808    0.514016

[52 rows x 10 columns]

In [47]:
#delting 7,8,9
bike_df = bike_df.drop(columns=['Unnamed: 7',	'Unnamed: 8',	'Unnamed: 9'])

In [50]:
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

In [51]:
# renaming the Unnamed: 6 column to percent_change
bike_df = bike_df.rename(columns={'Unnamed: 6': 'percent_change'})
bike_df.head()

  Timeframe    Week of  ...  Change 2019-2020  percent_change
0    Week 1 2020-12-30  ...          0.094627        1.094627
1    Week 2 2020-01-06  ...          0.179743      117.974253
2    Week 3 2020-01-13  ...          0.216112      121.611169
3    Week 4 2020-01-20  ...          0.105645      110.564504
4    Week 5 2020-01-27  ...          0.249166      124.916602

[5 rows x 7 columns]

In [60]:
# finding missing valyes and columns
bike_df.loc[0:10,:].dropna(how = 'all')

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
1     Week 2 2020-01-06  ...         NaN         NaN
2     Week 3 2020-01-13  ...         NaN         NaN
3     Week 4 2020-01-20  ...         NaN         NaN
4     Week 5 2020-01-27  ...         NaN         NaN
5     Week 6 2020-02-03  ...         NaN         NaN
6     Week 7 2020-02-10  ...         NaN         NaN
7     Week 8 2020-02-17  ...         NaN         NaN
8     Week 9 2020-02-24  ...         NaN         NaN
9    Week 10 2020-03-02  ...         NaN         NaN
10   Week 11 2020-03-09  ...         NaN         NaN

[11 rows x 10 columns]

In [67]:
# counting missing values and checking for their columns
bike_df.isna().sum()
# Answer question 3 to how many missing values and in what columns: Columns: 2021 Counts (52 missing), Unnamed 7(52 missing),Unnamed 8 (51 missing),Unnamed 9 (51 missing)

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
Unnamed: 6                     0
Unnamed: 7                    52
Unnamed: 8                    51
Unnamed: 9                    51
dtype: int64